<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="f1" xsi:type="File" fileName="file1.txt" layout="${longdate} ${callsite} ${level} ${message}"/>
        <target name="ds" xsi:type="OutputDebugString"/>
        <target name="console" xsi:type="Console" layout="${longdate}|${level}|${message}"/>
    </targets>
    <logger name="*" minlevel="Debug" writeTo="console" />
</nlog>
