<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="sones.sonesGraphDBStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="sonesGraphDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <sones.sonesGraphDBStarter.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="ListeningPort" serializeAs="String">
                <value>9975</value>
            </setting>
            <setting name="UsePersistence" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PersistenceLocation" serializeAs="String">
                <value>data</value>
            </setting>
            <setting name="DatabaseCulture" serializeAs="String">
                <value>en-us</value>
            </setting>
            <setting name="PageSize" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="BufferSizeInPages" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UDCWaitUpfront" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="UDCUpdateInterval" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="UDCEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </sones.sonesGraphDBStarter.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
